<footer>
    <nav class="round">
        <ul>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><a href="http://www.reddit.com">Important</a></li>
            <li><a href="http://www.google.com">Search</a></li>
        </ul>
    </nav>
</footer>